*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: consolas;
}

p{
	font-weight: 800;
}

.head{
	height: 7vh;
	margin-top: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	background: #031321;
	box-shadow: 0 0 2em 2em #031321;
}

.puntaje{
	font-size: 1.7rem;
	color: #2196f3;
}

body{
	background: #083761;
}

.formato{
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	place-items: center;
	color: #2196f3;
}

#pregunta{
	width: 60vw;
	font-size: 1.1em;
	display: flex;
	margin-top: 2em;
	padding-bottom: 3em;
}

.img_check{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	margin-top: 5.5em;
}

.img_good, .img_bad{
	position: absolute;	
	opacity: 0.3;
}

.img_good{
	display: none;
}

.img_bad{
	display: none;
}

.respuesta{
	display: flex;
	flex-direction: column;
	row-gap: 2em;
}

.res{
	display: flex;
	cursor: pointer;
	align-items: center;
	font-size: 1em;
	padding: .5em;
	color: #2196f3;
	background: #083761;
	border: 0.3em solid #2196f3;
	border-radius: 0.5em;
	transition: 1s;
}

.res p{
	display: inline-block;
	padding: .5em;
	border: 0.3em solid #2196f3;
	border-radius: 0.5em;
}

.res:hover, .res p:hover{
	color: #083761;
	border: 0.3em solid #2196f3;
	background: #2196f3;
	transition: 1s;
}

span{
	margin-left: 2em;
}

.ult_botones{
	display: flex;
	flex-direction: row;
}

.volver, .continuar{
	display: flex;
	place-items: center;
	height: 3vh;
	color: #2196f3;
	margin-top: 2em;
	margin-right: 2em;
	font-size: 1.1em;
	padding: 1em;
	border: 0.3em solid #2196f3;
	border-radius: 0.5em;
}

.continuar{
	display: none;
}

 a{
 	text-transform: uppercase;
	text-decoration: none;
	transition: 1s;
}

a:hover{
	color: #083761;
	background: #2196f3;
}

/* Clases para JS */
.green{
	background: green;
}

.red{
	background: red;
}

@media (max-width: 768px){

.head{
	height: 7vh;
	margin-top: 1.5em;
}

.puntaje{
	font-size: 1.1rem;
}

#pregunta{
	width: 70vw;
	font-size: 1em;
	margin-top: 3em;
	padding-bottom: 2em;
	text-align: center;
}

.respuesta{
	row-gap: 1em;
}

.res{
	font-size: .9em;
	padding: .4em;
}

.res p{
	padding: .4em;
}

span{
	margin-left: 1.5em;
}

.volver, .continuar{
	margin-right: 1em;
	font-size: 1em;
	padding: 1em;
}

}